/* Variable declarations */
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

:root {
--main-font-family: 'Abel', sans-serif;
--font-size: 1rem;
--font-style: normal;
--line-height: 1.5;

--background-color: #fff5bf;
--header-color: #3a573b;
--text-color: #131313;
--white-color: #ffffff;

--block-margin: 20px 0;
--block-padding: 20px 40px;
--plain-border: 1px solid #686868;
--btn-border-radius: 7px;
--photo-border-radius: 50%;

/* ... */

}

.button {
    --btn-color: #589e5e;
    --btn-color-hover: #405842;
    --alert-color: #f34e4e;
    --alert-color-hover: #8b4848;
    --disabled-color: #686868;
    --disabled-color-hover: #444444;
    --btn-font-size: 15px;
}

.wrapper {
    --wrapper-margin: 0 auto;
}

table {
    --table-padding: 7px 20px;
    --table-background-color: #ffffff;
    --table-row-color: #ececec;
    --table-header-color: #4e7a54;
    --table-box-shadow: 2px 2px 5px 3px #b3b3b385;
}